{% extends '../layouts/application.html' %}

{% block content %}
<div class="hero">
  <div class="cta">
    <span class="text">Divide</span>
    <br>
    <span class="text">and Conquer.</span>
  </div>
</div>

<br>

<div class="row">
  <div class="large-8 columns">
    <div class="row">
      <div class="small-12 columns">
        {{ readme | safe }}
      </div>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <strong>Explore the Boundaries:</strong>
      <ul class="">
        {% for link in links %}
        <li class="name">
          <a href="{{ router.url({controller: link.controller, action: 'index'}) }}">
            {{ link.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-4 text-right right">
    <br>
    <a href="https://zillow.com">
      <img src="https://www.zillowstatic.com/vstatic/85c1a99/static/logos/Zillow_Logo_HoodsProvided_RightAligned.gif">
    </a>
  </div>
</div>
{% endblock %}
