server {

    listen 80 default deferred;
    server_name boundaries.dev;

    access_log /var/log/nginx/boundaries.dev.access.log;

    client_max_body_size 200m;

    location / {
        allow all;
        proxy_pass http://localhost:3334;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    location /nginx_status {
        stub_status on;
        access_log off;
        allow 127.0.0.1;
        deny all;
    }
}