{% extends '../layouts/application.html' %}

{% block title %}boundaries.io - {{ type }}{% endblock %}
{% block footerclass %}abs-footer{% endblock %}
{% block contentclass %}abs-content{% endblock %}

{% block nav %}
<ul class="right">
  <li class="search">
    <input autofocus name="query" type="search" placeholder="{{ type }} Search">
  </li>
  <li class="has-button">
    <a class="small button" href="javascript:void(0)">Search</a>
  </li>
  <li>
    &nbsp;
  </li>
</ul>
<ul class="right controls">
  <li>
    <a href="javascript:void(0)" data-control="clear">
      <i class="fi-x"></i> clear
    </a>
  </li>
  <li>
    <a href="javascript:void(0)" data-control="locate">
      <i class="fi-target-two"></i> locate me
    </a>
  </li>
</ul>
{% endblock %}

{% block content %}

<div id="map"></div>

<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/underscore/underscore.js"></script>
<script src="/bower_components/backbone/backbone.js"></script>
<link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css">
<script src="/bower_components/leaflet/dist/leaflet.js"></script>
<script src="/js/geos.js"></script>

<script type="text/javascript">

$(function() {

  var type = {{ type | json | safe }};
  var GeoModel = window[type];
  if (!GeoModel) throw new Error(type + ' model not found');
  var GeoCollection = window[type + 'Collection'];
  if (!GeoCollection) throw new Error(type + ' collection not found');
  var bboxstring;

  try {
    bboxstring = localStorage.getItem('bounds');
  } catch(e) {}

  var GeoView = Backbone.View.extend({

    el: 'body',

    initialize: function(options) {
      options || (options = {});

      var coords, bounds;

      this.geos = new GeoCollection();

      this.controls = new Controls({el: '.controls'});

      this.listenTo(this.controls, 'clear', function(e) {
        this.geos.reset();
      }, this);

      this.geoMap = new GeoMap({
        geos: this.geos,
        center: [35.6, -78.7],
        labels: true
      });

      this.listenTo(this.controls, 'locate', function(e) {
        this.geoMap.map.locate({
          setView: true,
          maxZoom: 11
        });
      });

      if (bboxstring) {
        coords = bboxstring.split(',');
        bounds = L.latLngBounds(
          L.latLng(coords[1], coords[0]),
          L.latLng(coords[3], coords[2])
        );
        this.geoMap.map.fitBounds(bounds);
      }

      this.geoQuery = new GeoQuery({el: '.search'});

      this.geoQuery
        .on('search', function(e) {
          if (!e.target.value) return;
          this.geos
            .fetch({
              reset: true,
              data: {search: e.target.value}
            })
            .then(function(results) {
              if (results.length) {
                e.target.select();
              } else {
                alert('No results');
              }
            });
        }, this);

      this.listenTo(this.geoMap, 'onMapClick', function(e) {
        this.geos.fetch({
          url: '/' + '{{ params.controller }}' + '/whereami',
          remove: false,
          merge: true,
          data: {
            lat: e.latlng.lat,
            lng: e.latlng.lng
          }
        });
      }, this);

      this.geoMap.map.on('locationfound', function(e) {
        this.geos.fetch({
          url: '/' + '{{ params.controller }}' + '/nearme',
          remove: false,
          merge: true,
          data: {
            lat: e.latlng.lat,
            lng: e.latlng.lng
          }
        });
      }, this);

      this.geoMap.map.on('locationerror', function(e) {
        console.error(e)
      });

    }
  });

  var geoview = new GeoView();

});

</script>

{% endblock %}