{% extends '../layouts/application.html' %}

{% block content %}

<br><br>
<div class="row">
  <div class="small-12">
    <h2>{{ geography.properties[nameKey.split('.')[1]] }}</h2>
  </div>
</div>

<hr>

<div class="row">
  <div class="small-12 medium-6 columns">
    <pre><code>{{ geography.properties | json(2) }}</code></pre>
  </div>
  <div class="small-12 medium-6 columns">
    <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300">
      {{ renderer.converter.convert(renderer.geometry) }}
    </svg>
  </div>
</div>

{% endblock %}